body{
background-color:#87CEEB;

}


ul {
    list-style: none;
   }

h1{
    border: solid 15px gold;
    width: 1165px;
    display: flex;
    justify-content: center;
    font-family: 'Italianno', cursive;
    font-size: 60px;
    margin-left: 400px;
    
}
h2{
    width: 1920px;
    display: flex;
    justify-content: center;
    font-family: 'Italianno', cursive;
    font-size: 50px;
}


#narrative{
    width: 1920px;
    margin-bottom: 2em;
   
}

#choice{
    width: 1920px;
    display: flex;
    justify-content: space-evenly;
}
#narrative{
    width: 1920px;
    height: 200px;
    background-color:  #8b4513;
    display: flex;
  justify-content: space-evenly;
    margin-right: 4em;
    margin-left: 4em;
    color: red;
    font-family: 'Italianno', cursive;
    font-size: 15px;
}

.choice1{
  margin-left: 70px;
  margin-right:50 px;
    float: left;
}

.choice2{
   margin-right:70 px;
   margin-left: 50px;
    float: right;
}

#savebar{
    
    width: 1920px;
    display: flex;
    justify-content: center;
    font-family: 'Italianno', cursive;
}

#savebutton{
    width: 200px;
    height: 30px;
   display: flex;
   justify-content: center;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 25px;
    cursor: pointer;
    color: gold;
    background-color: brown;
    border: solid 5px gold;
    padding: 3px;
    margin-left: 900px;
    margin-top: 2em;
}

/* this cchanges rum and booty */
#changingstats1{
    font-size: 2em;
    color: yellow;
   
}

/* this changes meters */
#changingstats2{
    font-size: 1em;
    margin-right: 20em;

  
   
}

#pic1{
    float: left;
   
}


#coinmeter{
    background-color: yellow;
    border-style: crimson 1px;
    margin-bottom: 1px;
    width: 200px;
    height: 20px;
}

#rummeter{
    background-color: yellow;
    margin-bottom: 1px;
    width: 200px;
    height: 25px;

}

#spiritmeter{
    background-color: yellow;
    width: 200px;
    height: 25px;

}


#narrative-text{
    color: brown;
    font-family: 'Italianno', cursive;
    font-size: 30px;
    width: 1000px;
    position: absolute;
    top: 630px;
    margin-left: 550px;
    margin-top: 250px;
}
/* this changes the choice words */
#choice{
    
    
}

#choice p{
    cursor: pointer;
    color: gold;
    background-color: brown;
    border: solid 5px gold;
    padding: 5px;
}




/* /* /* #narrative-text{
    width: 100px;
    height: 50px;
    background-color: yellow */
/* }  

