body {
background-color: deepskyblue;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Italianno', cursive;
    font-size: 55px;
}

h2{
    background-color:  saddlebrown;
    font-family: 'Italianno', cursive;
    font-size: 38px;
    color: gold;
    
}

h3{
    font-family: 'Italianno', cursive;
    font-size: 35px;
    width: 150px;
    height: 60px;
    background-color: saddlebrown;
    color: gold;
}

h4{
    font-family: 'Italianno', cursive;
    font-size: 35px;
    width: 200px;
    height: 60px;
    background-color: saddlebrown;
    color: gold;
}

#sec1{
display: flex;
justify-content: center;
width: 1920px; 
}

#sec2{
display: flex;
justify-content: center;
width: 1920px; 
}

.img2{
    

}

#sec3{
display: flex;
justify-content: center;
width: 1920px; 
}

.img3{


}

 #sec4{
display: flex;
justify-content: center;
width: 1920px; 
}

.img4{

}